<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean name="emp" class="com.basic.Spring.beans">
        <constructor-arg index="0" value="155"></constructor-arg>
                <constructor-arg index="1" value="shubham"></constructor-arg>
        
                <constructor-arg index="2" value="123300"></constructor-arg>
        
        </bean>
        
        
        </beans>